.button {
	border-radius: 27px;
	background: $yellow-color;
	padding: 20px 35px 17px 35px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	@include rem(font-size, 17px);
	border: 0;
	border-bottom: 3px solid #b8a400;
	font-weight: 700;
	color: #000;
	transition: all 0.2s;
	&:hover {
		color: #000;
		background: darken($yellow-color, 3%);
	}
	&:focus, &:active {
		border: 0;
		color: #000;
	}
	&_inline {
		display: inline-block;
		vertical-align: top;
		padding: 20px 55px 17px 55px;
	}
	&_light-red {
		color: #fff;
		background: #e73914;
		border-color: #971a00;
		&:hover {
			color: #fff;
			background: lighten(#e73914, 3%);
		}
		&:focus, &:active {
			border: 0;
			color: #fff;
		}		
	}
}