extends layouts/layout
include ../components/change-time/change-time
include ../components/advantages/advantages
include ../components/how-it-works/how-it-works

block vars
	- var title = 'Главная';

block main
	+change-time()
	+advantages()
	+how-it-works()