mixin advantages()
	section.advantages&attributes(attributes)
		.advantages__holder
			h2.advantages__title  Более 70% женщин, которые начинают работать над<br>своим телом – срываются в первый месяц. <span class="advantages__important">У нас – менее 25%</span>
			ul.advantages__list
				li.advantages__item
					.advantages__description Участвовать можно<br> из любой точки мира
				li.advantages__item
					.advantages__description Онлайн - Начинай<br> в любой день
				li.advantages__item
					.advantages__description Рассчитано&nbsp;на&nbsp;прохождение<br> в домашних условиях