mixin advantages()
	.advantages&attributes(attributes)
		.advantages__holder
			h2.advantages__title  Более 70% женщин, которые начинают работать над<br>своим телом – срываются в первый месяц. <span class="advantages__important">У нас – менее 25%</span>
			ul.advantages__list
				li.advantages__item Участвовать можно из любой точки мира
				li.advantages__item Онлайн - Начинай в любой день
				li.advantages__item Рассчитано на прохождение в домашних условиях