mixin how-it-works()
	section.how-it-works&attributes(attributes)
		.how-it-works__holder
			h2.how-it-works__title Вы пробовали разные способы  <strong class="important">сделать свое тело красивым</strong> но  все еще НЕ имеете желанную фигуру?!
			.how-it-works__problem
				.how-it-works__problem-item
					i.icon.icon_problem.how-it-works__problem-icon
					.how-it-works__problem-text Вы неправильно подбираете программу, которая позволит сделать именно Ваше тело красивым.
				.how-it-works__problem-item
					i.icon.icon_problem.how-it-works__problem-icon
					.how-it-works__problem-text Вам сложно делать регулярные действия. Вы забываете, ленитесь, пропускаете и&nbsp;через какое-то время бросаете.
			.how-it-works__list
				.how-it-works__step.how-it-works__step_one
					.how-it-works__count Шаг 1
					.how-it-works__text Заполните анкету и узнайте свой идеальный вес
					.how-it-works__line
				.how-it-works__step.how-it-works__step_two
					.how-it-works__count Шаг 2
					.how-it-works__text Выберите одну из предложенных программ
					.how-it-works__line
				.how-it-works__step.how-it-works__step_three
					.how-it-works__count Шаг 3
					.how-it-works__text Оплатите сегодня участие со&nbsp;скидкой 25% или выберите бесплатный 3-х дневный тестовый период
					.how-it-works__line
				.how-it-works__step.how-it-works__step_four
					.how-it-works__count Шаг 4
					.how-it-works__text Выполняйте  задания, которые ежедневно появляются на личной странице, ставьте галочку после выполнения
					.how-it-works__line
				.how-it-works__step.how-it-works__step_five
					.how-it-works__count Шаг 5
					.how-it-works__text Участвуйте в розыгрыше денежных и других призов, соревнуйтесь, общайтесь с единомышленниками
					.how-it-works__line
				.how-it-works__step.how-it-works__step_six
					.how-it-works__count Шаг 6
					.how-it-works__text Получайте фигуру мечты!
					.how-it-works__line