mixin creators()
	section.creators&attributes(attributes)
		.creators__holder
			h2.creators__title В создании сервиса <strong class="important important_yellow">«Время Перемен»</strong> приняли участие
			.creators__row
				.creators__photo
					img(src="images/creator.jpg", alt="").creators__image
				ul.creators__list
					li.creators__item 2 чемпионки мира по боди фитнесу
					li.creators__item 3 фитнес-инструктора со стажем более 15 лет
					li.creators__item 2 практикующих психолога с профильным образованием
					li.creators__item Сертифицированный врач диетолог, социолог