mixin purpose()
	section.purpose&attributes(attributes)
		.purpose__holder
			h2.purpose__title Поможем преодолеть лень и <strong class="important">достигнуть цели</strong>
			.purpose__text Мы разработали целую систему, состоящую из игровых и социальных элементов.<br> Достигать своей цели будет интересно, весело, приятно
			.purpose__list
				.purpose__row
					.purpose__column
						.purpose__item
							.purpose__label Весело и интересно
							.purpose__description
								p Выполни все задания 3 дня подряд и получи возможность поиграть в «Воздушные шары». За одним из шариков приз 500 р., выбери и лопни!
								p Розыгрыши ценных и денежных призов среди приславших фото «до» и «после». Голосование.
								p Вдохновляющие видео 
								p Каждый день новая, интересная информация по теме
								p Зарабатываете игровую валюту, на которую потом можете купить реальные товары
							a(href="#").purpose__detail Подробнее
					.purpose__column
						.purpose__item
							.purpose__label Ощутимый прогресc
							.purpose__description
								p На каждом уровне Вам дается несколько «жизней». Если Вы не выполнили задание, 1 жизнь сгорает. Вы не сможете продолжить программу, если сгорят все жизни.
								p Видно, сколько дней уже в программе, сколько дней на конкретном уровне, когда ближайший выходной.
							a(href="#").purpose__detail Подробнее
					.purpose__column
						.purpose__item
							.purpose__label Поддержка близких
							.purpose__description
								p Ленивчик и Счастливчик подскажут, что делать, похвалят, расскажут что-то интересное
								p Можно добавлять в друзья понравившихся людей. Есть возможность писать посты, комментарии, читать посты других людей.
								p Создай «тандем» с подругой и достигай цели вместе, поддерживая друг друга
							a(href="#").purpose__detail Подробнее