html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
	@include rem-baseline;
}

body {
	font-family: $roboto;
	@include rem(font-size, 14px);
	line-height: 1.4;
	font-weight: 400;
	height: 100%;
	color: #fff;
}