// color vars
$yellow-color: #ffe400;
$red-color: #d8423a;

// grid vars
$gutter-width: 0px;
$total-width: 100%;

// font
$rem-baseline: 14px;
$font-family-base: 'Arial', 'Helvetica', sans-serif;

$roboto: 'Roboto', $font-family-base;


$breakpoints: (
  small: (max-width: 768px),
  medium: (max-width: 992px),
  wide: (max-width: 1200px)
);